* {
  margin: 0;
  padding: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  box-sizing: border-box;
}

.container {
  width: 100%;
  border-radius: 20px;
  padding: 10px;
  background-image: radial-gradient(#d1e5f7, #ffffff);
  min-height: 100vh;
}

.todo-app {
  width: 100%;
  max-width: 540px;
  background: #fff;
  margin: 100px auto 20px;
  padding: 40px 30px 70px;
  border-radius: 10px;
}

.todo-app h2 {
  color: #4255fd;
  display: flex;
  align-items: center;
  margin-bottom: 28px;
}

.todo-app h2 img {
  width: 30px;
  margin-left: 10px;
}

.row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #edeef0;
  border-radius: 38px;
  padding-left: 20px;
  margin-bottom: 25px;
}

#input-box {
  flex: 1;
  border: none;
  outline: none;
  background: transparent;
  padding: 10px;
  font-weight: 14px;
}

#addBtn {
  border: none;
  outline: none;
  padding: 16px 50px;
  background: #4255fd;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
  font-size: 16px;
  border-radius: 48px;
}

ul {
  list-style: none;
}

li {
  font-size: 17px;
  padding: 12px 8px 12px 50px;
  user-select: none;
  cursor: pointer;
  position: relative;
}

li::before {
  content: "";
  position: absolute;
  height: 28px;
  width: 28px;
  border-radius: 50%;
  background-image: url(images/unchecked.png);
  background-size: cover;
  background-position: center;
  top: 12px;
  left: 8px;
}

li.checked {
  color: #555;
  text-decoration: line-through;
}

li.checked::before {
  background-image: url(images/checked.png);
}

li span {
  position: absolute;
  right: 0;
  top: 5px;
  width: 40px;
  height: 40px;
  font-size: 22px;
  color: #555;
  line-height: 40px;
  text-align: center;
  border-radius: 50%;
}

li span:hover {
  cursor: pointer;
  background: #edeef0;
}

/* Responsive Design */
@media (max-width: 665px) {
  .row {
    flex-direction: column;
    align-items: stretch;
    padding: 10px;
    background-color: white;
  }

  #addBtn {
    margin-top: 100px;
  }
  #input-box {
    background: #edeef0;
    border-radius: 48px;
  }
}
